<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9369cfd0-3f7a-4a75-a360-eecb92177a2b/resourcegroups/DefaultResourceGroup-DEWC/providers/Microsoft.Web/sites/SCBarakaldoAPI</ResourceId>
    <ResourceGroup>DefaultResourceGroup-DEWC</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://scbarakaldoapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3025dd1c-6d81-4ed6-9eec-ce75edd72aaa</ProjectGuid>
    <PublishUrl>https://scbarakaldoapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SCBarakaldoAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>